.container {
  margin: 0 auto;
  display: block;
  border: 1px solid grey;
  width: fit-content;
}

body {
  background-color: black;
}
img {
  border-radius: 50%;

  float: right;
}
h1 {
  font-family: "Dancing Script", cursive;
  text-align: left;
  color: nero;
}

.laurea {
  text-decoration: none;
  color: black;

  margin-top: 2000px;
  border-radius: 50%;
}
.laurea:hover {
  color: white;
}
