body {
  background-color: black;
  margin: 0 auto;
  display: block;
}
img {
  border-radius: 50%;
  float: right;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
h1 {
  font-family: "Dancing Script", cursive;
  text-align: left;
  color: nero;
}

.laurea {
  text-decoration: none;
  color: black;

  margin-top: 2000px;
  border-radius: 50%;
}
.laurea:hover {
  color: white;
}
